<section class="home">
    <article class="landing">
        <h1 class="app-title">Regatas App</h1>
        <div class="cards">
            <md-card class="feature">
            <i flex class="material-icons">chrome_reader_mode</i>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Noticias</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <md-card class="feature">
                <i flex class="material-icons">event</i>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Campeonatos</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <md-card class="feature">
                <i flex class="material-icons">format_list_numbered</i>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Resultados</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
        <h2 class="app-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed elit ac urna venenatis dictum. Sed commodo gravida lorem eu varius. Aenean quis urna turpis.</h2> <!--TODO-->
    </article>
</section>
