.inscriptions {
    width: 100vw;
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .inscription-form {
        font-size: 1.5em;
        fieldset {
            border: 1px solid #FFF;
        }
        .boat-number {
            margin-top: 36px;
        }
    }
}

.error-toast {
    .md-toast-content {
        background-color: #ff5252;
    }
    i {
        margin-right: 10px;
    }
}

.success-toast {
    .md-toast-content {
        background-color: #00C853;
    }
    i {
        margin-right: 10px;
    }
}
