.inscriptions {
    width: 100vw;
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .inscription-form {
        font-size: 1.5em;
    }
}

.error-toast {
    .md-toast-content {
        background-color: #ff5252;
    }
    i {
        margin-right: 10px;
    }
}
